{% load i18n %}
{% load compress %}
{% load staticfiles %}
    <!-- #HEADER -->
    <header id="header">
        <div id="logo-group">
            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="/static/image/logo.png" class="logoImage" alt="logo-dummy"> </span>
            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <!--<span> 
                        <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
                            
                        </a> 
                </span>-->
            </div>
            <!-- end collapse menu -->
        </div>
        <!-- pulled right: nav area -->
        <!-- end pulled right: nav area -->
    </header>
